<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header class="display-flex justify-space-between align-center p-2">
    <h1>
      MVC Blog! Talk about Tech!
    </h1>
    <nav>
      <button class="btn"><a class="nav-link" href="/login">Login</a></button>
    </nav>
      <nav>
      <button class="btn"><a class="nav-link" href="/profile">Profile</a></button>
    </nav>
    <nav>
      <button class="btn"><a class="nav-link" href="/homepage">Home</a></button>
    </nav>
    <nav>
      <button class="btn"><a class="nav-link" href="/logout">Logout</a></button>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{#unless logged_in}}
  <script src="/js/login.js"></script>
    {{/unless}}
  
</body>

</html>

